<h1>Welcome Guys!</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this </span>{{clickCounter}} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"><br>
        <strong>You Said: </strong>{{ name }}
    </p>
</div>

<div class = "play-container" [style.background-color]="clickCounter > 4 ? 'red' : 'lightgray'">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The Click Counter <strong> Is Greater </strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click Counter <strong> Is not Greater</strong> than 4.</p>
    </ng-template>
</div> 

























